@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth theme transition */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Prevent transition on page load */
.no-transition * {
  transition: none !important;
}
